/* Layout */

body {
  background: silver;
  overflow-x: hidden;
  margin: 0;
}

main {
  width: 100vw;
  max-width: 100vw;
}

#stats {
  position: absolute;
  top: 15em;
}

.Container {
  display: flex;
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: $lightgrey;
    padding: 1em;
    border-bottom: 1px solid $grey;

    .logo {
		margin-right: 20px;
		h1 {
			margin: 0;
		}
    }

    .sidebar-anchor {
      cursor: pointer;
    }
  }
  .sidebar-hide-button {
    cursor: pointer;
    position: absolute;
    bottom: 1em;
    right: 1em;
    border: 1px solid black;
    padding: 0.5em;
  }
}

.sidebar-wrapper {
	background: $lightgrey;
	height: 100%;
}

.Controls {
  padding: 4.5em 1em 1em;
  min-width: 335px;
  display: flex;
  flex-direction: column;

	.handrails-selector, .route-select-control, .wingspan-control, .action-control {
		padding-bottom: 30px;
	}

  .route-select-control {
    margin-top: 2em;
  }
  .route-select-container {
  	margin-top: 10px;
  	display: flex;

  	label {
  		flex-grow: 1;
  	}
  }
  .wingspan-control {
  	padding: 0 12px;
  }
  .action-control {
    display: flex;
    justify-content: space-around;
    button {
      cursor: pointer;
    }
  }
  .file-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .handrails-selector {
  	margin-top: 20px;
    .Select:first-of-type {
      margin-bottom: 1em;
    }
  }
}

.results-header {
  padding: 0.5em;
}

.results {
  padding: 1em;
  overflow: auto;
  height: 20em;
}
