body {
  background: silver;
  overflow-x: hidden;
  margin: 0;
}

main {
  width: 100vw;
  max-width: 100vw;
}

#stats {
  position: absolute;
  top: 15em;
}

.Container {
  display: flex;
  .header {
    display: flex;
    justify-content: space-around;
    background: white;
    height: 2em;
    align-items: center;
    .sidebar-anchor {
      cursor: pointer;
    }
  }
  .sidebar-hide-button {
    cursor: pointer;
    position: absolute;
    bottom: 1em;
    right: 1em;
    border: 1px solid black;
    padding: 0.5em;
  }
}

.Controls {
  padding: 1em;
  min-width: 15%;
  display: flex;
  flex-direction: column;
  .route-select-control {
    margin-top: 2em;
  }
  .action-control {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    button {
      cursor: pointer;
    }
  }
  .file-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .handrails-selector {
    .Select:first-of-type {
      margin-bottom: 1em;
    }
    margin-bottom: 1em;
  }
}

.results-header {
  padding: 0.5em;
}

.results {
  padding: 1em;
  overflow: auto;
  height: 20em;
}
