body {
  background: silver;
  overflow-x: hidden;
  margin: 0;
}

main {
  width: 100vw;
  max-width: 100vw;
}

#stats {
  position: absolute;
  top: 15em;
}

.Container {
  display: flex;
}

.Controls {
  padding: 1em;
  width: 35%;
  display: flex;
  flex-direction: column;
  .file-controls {
    display: flex;
    justify-content: space-around;
  }
}
